<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.com.newhfuu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registration.RegistrationActivity" />
        <activity android:name=".registration.Consult_doctorActivity" />
        <activity android:name=".registration.Sickness_advanceActivity" />
        <activity android:name=".registration.Subsequent_visitActivity" />
        <activity android:name=".registration.GynecologicalActivity" />
        <activity android:name=".Consult.ConsultFragment" />
        <activity android:name=".MFZXActivity" />
        <activity android:name=".Consult.KeshiActivity" />
        <activity android:name=".Hospital.Hospital01" />
        <activity android:name=".Hospital.Hospital_01mainpage" />
        <activity android:name=".Hospital.YiyuankeshiActivity" />
        <activity android:name=".Login.LoginActivity"></activity>


        <activity
            android:name=".personal_center.AboutActivity"
            android:label="@string/app_name_about"
            android:theme="@style/AppTheme_Account" />
        <activity
            android:name=".personal_center.AccountActivity"
            android:label="@string/app_name_account"
            android:theme="@style/AppTheme_Account" />
        <activity android:name=".personal_center.RecorderHistoryActivity"
            android:label="@string/app_name_recorderHistory"
            android:theme="@style/AppTheme_Account"/>
        <activity android:name=".personal_center.RecorderNowActivity"
            android:label="@string/app_name_recorderNow"
            android:theme="@style/AppTheme_Account"/>
        <activity android:name=".personal_center.ManageActivity"
            android:label="@string/app_name_manage"
            android:theme="@style/AppTheme_Account"/>
    </application>

</manifest>